* {
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(10, 226, 226), rgb(230, 27, 196));
}

/* GLOBAL */

h1 {
    margin: 2px auto;
    font-family: 'Adobe Garamond Pro', Arial, Helvetica, sans-serif;
    font-size: 77px;
    text-align: center;
}

hr {
    margin: 20px auto;
    border: 0.1em solid black;
}

/* Main */

#main {
    position: relative;
    margin: 30px auto;
}


/* Calculator */

#calculator-container {
    border-radius: 2.5px;
    box-shadow: 10px 10px 0px 0px;
    margin: 5em auto;
    max-width: 15em;
}

.display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 50px;
  word-wrap: break-word;
  word-break: break-all;
}

.display .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.display .current-operand {
  color: white;
  font-size: 2.5rem;
}

/* .display {
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 0.5em 0.75em;
    text-align: right;
} */

.keys {
    background-color: #999;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(4, 1fr);
}

.keys > * {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

button {
    border: 0;
    border-radius: 0;
    font-size: inherit;
    font-family: inherit;   
}

.operator {
    background-color: aliceblue;
}

.equal {
    background-color: salmon;
    grid-column: -2;
    grid-row: 2 / span 4;
}

/* 
#result {
    color: #fff;
    font-size: 1em;
    text-align: right;
    background-color: black;
    padding: 5%;
    padding-top: 9%;
    font-weight: 300;
    border-radius: 3.5% 3.5% 0 0;
    overflow: hidden;
} */
